body > * {
    margin-top: 5px;
}
section > .label ~ * {
    margin-left: 1rem;
    margin-top: 2px;
}
#keyword_selection .reset {
    margin-left: 0.25rem;
}
#keyword_selection .example_keywords {
    display: inline-block;
}
.vlist {
    display: inline-block;
}
.vlist > * {
    display: block;
}
.hlist > * {
    display: inline-block;
}
.hlist > :not(:first-child) {
    margin-left: 10px;
}
input {
    border: none;
}
