body > * {
    padding: 0.5rem;
}
section > .label ~ * {
    margin-left: 1rem;
    margin-top: 10px;
}
#keyword_selection .reset {
    margin-left: 0.25rem;
}
.vlist {
    display: inline-block;
}
.vlist > * {
    display: block;
}
.vlist > :not(:first-child) {
    margin-top: 10px;
}
.hlist > * {
    display: inline-block;
}
.hlist > :not(:first-child) {
    margin-left: 1rem;
}
