button {
    font-size: 20px;
}
body {
    background-color: #000;
    color: #aaa;
}
#top_bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #888;
}
#file_content {
    margin-top: 30px;
    font-size: 175%;
}
#file_content .selected {
    background-color: #aaa;
    color: black;
}
.link_button {
    cursor: pointer;
}
.link-button:hover {
    text-decoration: underline;
}
#top_bar > .right {
    float: right;
    display: inline-block;
}
#top_bar > .left {
    float: left;
    display: inline-block;
}
#top_bar > * {
    display: inline-block;
}
#top_bar > :not(:first) {
    margin-left: 10px;
}
.hidden,
#top_bar > .hidden,
#top_bar > .hidden {
    display: none;
}
#about {
  margin: 10px;
}
.active {
  text-decoration: none;
  opacity: 0.5;
}
